# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
cache/*
db/layer2.bak
projects/*sublime*
client/all.min.js.gz
client/lib/angular-ui-bootstrap/old.js
