# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
cache/*
db/layer2.bak
projects/*sublime*
client/lib/angular-ui-bootstrap/old.js
macosx-x64-*
linux-*-*
start.old
*.min.js
*.min.html
*.html.js
*.min.css
start.bit
