/*
    app.less - Layer2 stylesheet
 */

//  MOB - nested  

xmain#home {
    background: linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
    background-attachment: fixed;
    background-color: #1c2533;
    height: 400px;
}


.navbar-header {
    width: 200px;
}

.navbar i, .navbar .glyphicon {
    font-size: 14px;
}

.navbar .form-control {
    //MOB var
    background-color: #141414;
    border-color: #141414;
    width: 220px;
}

.navbar .form-control:focus {
    background-color: #FFFFFF;
    -webkit-transition: all .3s linear;
    position: relative;
}

.navbar .glyphicon-search {
    color: #777777;
    position: relative;
    top: 6px;
    left: -28px;
}

.navbar li {
    border-left: 1px solid #101417;
}

.navbar .dropdown li {
    border: none;
}


.sidebar-nav {
    background: #FF0000;
    color: #888;
    width: 140px;
    .glyphicon, i {
        font-size: 22px;
        color: #888;
    }
    .menu-item {
        font-size: 16px;
        color: #888;
        display: block;
    }
}

.modal {
    background-image: url('../assets/background.jpg');
}

#login {
    width: 400px;
}

.login {
    -background: rgba(128, 128, 128, 0.5);
}

.login.modal-content {
    padding: 20px;
}

.login .modal-header {
    text-align: center;
}

.login .forgot-password {
    text-align: right;
}

.login .remember-me {
    font-size: @font-size-small;
}

_UNUSED_hr {
    width: 100%;
    color: @gray-light;
}

[ng-click] {
    cursor: pointer;
}

.shadow {
    .drop-shadow();
}


TABLE_ONLY.collapse {
    :empty {
        display: none;
    }
}

.form-error {
    width: 500px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-indent: 10px;
    border: 2px solid @error-color;
    .rounded(6px);
    .drop-shadow();
    h2 {
        margin: 0 0 10px 0;
        font-size: 12pt;
        color: white;
        background-color: @error-color;
    }
    ul {
        margin-bottom: 0;
    }
}

.field-error {
    border: 2px solid @error-color !important;
}

.feedback {
    position: absolute;
    top: 0;
    left: 50%;
    width: 500px;
    height: 36px;
    margin: 0;
    margin-left: -250px;
    padding: 3px;
    font-size: 110%;
    .rounded(7px);
    .border-radius(0, 7px, 7px, 0);
    .drop-shadow();
    color: white;
    text-align: center;
    &:empty {
        display: none;
    }
}

.feedback-error {
    .feedback();
    .gradient(@feedback-error-background, lighten(@feedback-error-background, 10%), darken(@feedback-error-background, 10%));
    font-weight: bold;
}

.feedback-warning {
    .feedback();
    .gradient(@feedback-warning-background, lighten(@feedback-warning-background, 10%), darken(@feedback-warning-background, 10%));
}

.feedback-inform {
    .feedback();
    .gradient(@feedback-inform-background, lighten(@feedback-inform-background, 10%), darken(@feedback-inform-background, 10%));
    opacity: 0;
    top: -100px;
}

.feedback-inform.ng-hide-remove {
    -webkit-animation: feedback-temp ease-in 10s;
}

@-webkit-keyframes feedback-temp {
    0%   { opacity: 1.0; top:    0px; }
    80%  { opacity: 1.0; top:    0px; }
    90%  { opacity: 0.5; top:    0px; }
    100% { opacity: 0.0; top: -100px; }
}

_UNUSED_td.centered {
    text-align: center;
}
