<div ng-init="currentPane='VLAN Membership'" xmlns="http://www.w3.org/1999/html">
    <nav>
        <ul class="nav nav-tabs">
            <li ng-repeat="pane in ['Details', 'VLANs']"  ng-class="{active: currentPane == pane}">
                <a ng-click="selectPane(pane)">{{pane}}</a>
            <li>
        </ul>
    </nav>

    <h3>VLANS for Port: {{port.name}}</h3>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead><tr><th ng-repeat="header in ['VLAN', 'Tagged']" ng-click="click($index)">{{header | titlecase}}</th></tr></thead>
        <tbody>
        <tr ng-repeat="vlan in vlans.data" ng-click="clickVlan($index)">
            <td ng-repeat="column in ['vlan.name', 'tagged']">{{vlan[column]}}</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-show="Esp.can('edit')" ng-click="Esp.goto('/service/port/' + port.id + '/add')">Add Port to VLAN</button>
</div>
