<ul class="breadcrumb">
    <li><i class="icon-home"></i> <a href="#">Home</a></li>
    <li><a href="#/port/list">Ports</a></li>
    <li><a href="#/port/{{id}}">Port</a></li>
</ul>
<div ng-include src="'app/port/panes.inc'" ng-init="currentPane='VLANs'"></div>
<div class="panel">
    <h2>Add {{port.name}} to VLAN</h2>
    <form name="addToVlanForm" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4">
                <div class="input-group" ng-class='{"has-error": fieldErrors.title}'>
                    <span class="input-group-addon">vlan</span>
                    <input type='text' class="form-control" ng-model='vlan.name' placeholder="NN">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" ng-click='addPortToVlan("vlan" + vlan.name)'>Add</button>
        <button class="btn" esp-click="/port/{{id}}/vlans">Cancel</button>
    </form>
</div>