<ul class="breadcrumb">
    <li>Port</li>
    <li><a href="#/port/list">Ports</a></li>
    <li><i class="icon-home"></i><a href="#">Home</a></li>
</ul>
<div ng-include src="Esp.url('/app/port/panes.html')" ng-init="currentPane='Details'"></div>
<div class="panel">
    <h2>Port Details</h2>
    <form name="portForm" class="form-horizontal">
        <esp-input ng-model="port.name" readonly width="col-sm-4" label="Name"></esp-input>
        <esp-input ng-model="port.status" width="col-sm-4"></esp-input>
        <esp-input type="radio" ng-model="port.mode" label="Admin Mode"></esp-input>
        <esp-input type="checkbox" ng-model="port.negotiate" label="Auto Negotiate"></esp-input>
        <esp-input type="radio" ng-model="port.duplex"></esp-input>
        <esp-input type="checkbox" ng-model="port.flowControl"></esp-input>
        <esp-input type="checkbox" ng-model="port.jumbo"></esp-input>
        <esp-input type="select" ng-model="port.speed" width="col-sm-3"></esp-input>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary" ng-click='save()'>Save</button>
                <button class="btn" esp-click="/port/list">Cancel</button>
            </div>
        </div>
    </form>
</div>
