<!-- MOB remove currentPane stuff -->
<div ng-init="currentPane='Details'" xmlns="http://www.w3.org/1999/html">
    <!-- MOB - this needs to be included -->
    <nav>
        <ul class="nav nav-tabs">
            <li ng-repeat="pane in ['Details', 'VLANs']"  ng-class="{active: currentPane == pane}">
                <a ng-click="selectPane(pane)">{{pane}}</a>
            <li>
        </ul>
    </nav>

        <h3>Port Details</h3>
        <form name="portForm" class="form-horizontal" ng-controller='PortControl'>
            <div class="form-error ng-cloak" ng-show="fieldErrors" ng-cloak>
                <h2>The Port has errors that prevent it being saved.</h2>
                <p>There were problems with the following fields:</p>
                <ul ng-repeat="msg in fieldErrors">
                    <li>{{msg}}</li>
                </ul>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="inputName">Name</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">tty</span>
                        <span class="form-control input-small uneditable-input">{{port.num}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Status</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-small uneditable-input" ng-model='port.status'>
                </div>
            </div>

            <!-- MOB - need directives to simplify this -->
            <div class="form-group">
                <label class="control-label col-md-2">Admin Mode</label>
                <div class="controls col-md-10">
                    <label class="radio">
                        <input type='radio' ng-model='port.mode' value='Online'>Online
                    </label>
                    <label class="radio">
                        <input type='radio' ng-model='port.mode' value='Offline'>Offline
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Auto Negotiate</label>
                <div class="controls col-md-10">
                    <label class="checkbox">
                        <input type='checkbox' ng-model='port.negotiate' ng-true-value='Enabled' ng-false-value='Disabled'>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Duplex</label>
                <div class="controls col-md-10">
                    <label class="radio"><input type='radio' ng-model='port.duplex' value='Half'>Half</label>
                    <label class="radio"><input type='radio' ng-model='port.duplex' value='Full'>Full</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Flow Control</label>
                <div class="controls col-md-10">
                    <label class="checkbox">
                        <input type='checkbox' ng-model='port.flowControl' ng-true-value='Enabled' ng-false-value='Disabled'>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Jumbo</label>
                <div class="controls col-md-10">
                    <label class="checkbox">
                        <input type='checkbox' ng-model='port.jumbo' ng-true-value='Enabled' ng-false-value='Disabled'
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Speed</label>
                <div class="controls col-md-2">
                    <select class="form-control" ng-model="port.speed" ng-options="speed for speed in ['1000', '10000', '40000']" class='input-small'></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary" ng-click='save()'>Save</button>
                    <button class="btn" ng-click='Esp.goto("/service/port/list")'>Cancel</button>
                </div>
            </div>
        </form>
</div>
