<ul class="breadcrumb">
    <li>Settings</li>
    <li><i class="icon-home"></i> <a href="#">Home</a></li>
</ul>
<h2>Settings</h2>
<div class="panel">
	<form name="settingForm" class="form-horizontal">
	    <esp-input-group ng-model="setting"></esp-input-group>
	    <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-4">
	            <button class="btn btn-primary" ng-click='save()'>Save</button>
	            <button class="btn" esp-click="/">Cancel</button>
	        </div>
	    </div>
	</form>
</div>
