
<!--
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Launch demo modal</a>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" xaria-labelledby="myModalLabel" xaria-hidden="true"
      ng-init="initLogin()">
  MOB
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" xaria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
-->


<!--
    modal fade
        modal-dialog
        modal-content
            modal-header
            modal-title
        modal-body
        modal-footer
-->
<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
<div class="modal" modal="true" close=">
            <div class="modal-header">
                <legend>User Login</legend>
                <div class="form-error ng-cloak" ng-show="error" ng-cloak>
                    <h2 class="ng-cloak" ng-cloak>Invalid login name or password.</h2>
                    <p>Please retry.</p>
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">User Name</label> 
                        <div class="col-md-10">
                            <input type='text' ng-model='user.username' tabindex='1' placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password</label> 
                        <div class="col-md-10">
                            <input id='password' type='password' ng-model='user.password' tabindex='2' placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type='checkbox' tabindex='3'> Remember me
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group"> <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary" ng-click='login()' tabindex='4'>OK</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
var defaults = {
    backdrop: true,
    dialogClass: 'modal',
    backdropClass: 'modal-backdrop',
    transitionClass: 'fade',
    triggerClass: 'in',
    resolve:{},
    backdropFade: false,
    dialogFade:false,
    keyboard: true, // close with esc key
    backdropClick: true // only in conjunction with backdrop=true
    /* other options: template, templateUrl, controller */
};

-->
