<h2>User List</h2>
    <div class="col-xs-8">
    <table class="table table-striped table-bordered table-hover table-condensed"
            ng-init="columns = ['username',  'email', 'roles']">
        <thead><tr><th ng-repeat="header in columns">{{header | titlecase}}</th></tr></thead>
        <tbody>
            <tr ng-repeat="user in users" esp-click="/user/{{user.id}}">
                <td ng-repeat="column in columns">{{user[column]}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" esp-click="/user/">New User</button>
</div>
