<h3>{{id ? "Edit" : "Create"}} User</h3>
<form name="userForm" class="form-horizontal">

    <esp-input ng-model="user.username" width="col-xs-5"></esp-input>
    <esp-input type="password" ng-model="user.password" width="col-xs-5"></esp-input>
    <esp-input-group ng-model="user" fields="email,roles" width="col-xs-5"></esp-input-group>

    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-4">
            <button class="btn btn-primary" ng-click='save()'>OK</button>
            <button class="btn" esp-click="/user/list">Cancel</button>
            <button class="btn" ng-show="id" ng-click='remove({{user.id}})'>Delete</button>
        </div>
    </div>
</form>
