<ul class="breadcrumb">
    <li>Event</li>
    <li><a href="#/event/list">Events</a></li>
    <li><i class="icon-home"></i> <a href="#">Home</a></li>
</ul>
<div class="panel">
    <h3>Event Details</h3>
    <form name="eventForm" class="form-horizontal">
        <esp-input ng-model="event.title"></esp-input>

        <div class="form-group">
            <label class="control-label col-xs-3">Type</label>
            <div class="input-group col-xs-6">
                <span class="input-group-addon">
                    <i class="severity fa fa-inverse event-{{event.type}}" ng-class="Esp.faclass(event.type)"></i>
                </span>
                <input type="text" value="{{event.type}}" class="form-control input-small">
            </div>
        </div>
        <esp-input ng-model="event.id"></esp-input>
        <esp-input ng-model="event.date" filter="date:'yyyy-MM-dd HH:mm:ss'" type="text"></esp-input>
        <esp-input ng-model="event.message" type="textarea" rows="6"></esp-input>
        <esp-input ng-model="event.title"></esp-input>
           
       <div class="form-group">
            <div class="col-sm-offset-2">                                                                  
                <button class="btn btn-primary" esp-click="/event/list">Continue</button>
                <button class="btn" ng-show="Esp.can('edit')" ng-click='remove(event.id)'>Delete</button>
            </div>
        </div>
    </form>
</div>
