<ul class="play-controls">
    <span ng-click='play=!play'><i class="fa" ng-class="{'fa-play': !play, 'fa-pause': play}"
        xtooltip="{{ play ? 'Pause' : 'Play'}}" xtooltip-placement="left"></i></span>
</ul>
<div class="view-dashboard">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-sm-3">
    	    <div class="widget">
                <esp-gauge class="gauge" value="{{ports.active}}" title="Active Ports" range='0-16'></esp-gauge>
    	    </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
    	            <div class="widget">
    	                <div class="number">{{ports.active}}</div>
    	                <div class="label">Active Ports</div>
                    </div>
                </div>
                <div class="col-sm-6">
    	            <div class="widget">
    	                <div class="number">{{vlans.length}}</div>
    	                <div class="label">Active VLANs</div>
                	</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
    	            <div class="widget">
    	                <div class="number">{{ports.online}} / {{ports.length}}</div>
    	                <div class="label">Online Ports</div>
                    </div>
                </div>
                <div class="col-sm-6">
    	            <div class="widget">
    	                <div class="number">{{vlans.online}} / {{vlans.length}}</div>
    	                <div class="label">Online VLANS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget events" ng-controller="StatusControl" ng-cloak>
                <div class="title">Events</div>
                <ul>
                    <li  ng-repeat="event in system.events" esp-click="/event/{{system.events[$index].id}}">
                        <i class="fa fa-inverse event-{{event.type}}" ng-class="Esp.faclass(event.type)"></i>{{event.title}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- MOB could be esp-widget -->
        <div class="col-sm-3">
    	    <div class="widget">
    	        <div class="number">{{system.io}}</div>
    	        <div class="label">Aggregate IO</div>
    	    </div>
        </div>

        <div class="col-sm-3">
            <div class="widget">
                <div class="number">{{system.io % 100}}%</div>
                <div class="progress">
                    <div class="progress-bar" style="width: {{(system.io % 100)}}%;"></div>
                </div>
                <div class="label">Network Utilization</div>
            </div>
        </div>

        <div class="col-sm-6" ng-controller="Esp.empty">
            <div class="widget widget-controls" ng-show='!hide'>
                <div class="header">
                    <h4><i class="icon-signal"></i>Packet Rate</h4>
                    <span class="options" ng-init="expand=true">
                        <a href="" ng-click='expand=!expand'><i class="fa" ng-class="{'fa-chevron-up': expand, 'fa-chevron-down': !expand}"></i></a>
                        <a href=""><i class="fa fa-times" ng-click='hide=true'></i></a>
                    </span>
                </div>
                <div class="body" ng-show="expand"></div>
            </div>
        </div>
    </div>
</div>
