<div ng-init="currentPane='Ports'">
    <nav>
        <!-- MOB - should be included -->
        <ul class="nav nav-tabs">
            <li ng-repeat="pane in ['Details', 'Ports']"  ng-class="{active: currentPane == pane}">
                <a ng-click="selectPane(pane)">{{pane}}</a>
            <li>
        </ul>
    </nav>

    <h3>Add port to {{vlan.name}}</h3>

<!-- MOB - should not need to specify controller -->
    <form name="addPortForm" class="form-horizontal" ng-controller='VlanControl'>
        <div class="form-error ng-cloak" ng-show="fieldErrors">
            <h2>The form has errors that prevent it being saved.</h2>
            <p>There were problems with the following fields:</p>
            <ul ng-repeat="msg in fieldErrors">
                <li>{{msg}}</li>
            </ul>
        </div>

        <div class="control-group">
            <div class="control-label" for="inputName">Name</div>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">tty</span>
                    <input type='text' class="input-small" ng-model='port.num' ng-class='{"field-error": fieldErrors.title}'>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" ng-click='addPort("tty" + port.num)'>Add</button>
        <button class="btn" ng-click='Esp.goto("/service/port/" + port.id + "/vlans")'>Cancel</button>
        </form>

</div>
